

.top-container{
  background-color: #E4F9F5;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 100px;
}
h1{
  margin-top: 0px;
  font-family: 'Style Script', cursive;
  font-size: 48px;
  font-weight: normal;
}
h2{
  margin:0px auto 50px auto;
  color: #26A5E4;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

h3{
  color: #26A5E4;
}
.hello{
  margin: 50px auto 25px auto
}
.name{
  margin-bottom: 0px;
}
body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: verdana, sans-serif;
}
.middle-container{
  margin-bottom: 0px;
  margin-top: 0px;
}
.bottom-container{
  background-color: #66BFBF;
  padding-top: 100px;
  padding-bottom: 40px;
}
.bottom-cloud{
  position:absolute;
  top:200px;
}
.top-cloud{
  position:absolute;
  right:30%;
  top:50px;
}

.skill-row-1{
  width:50%;
  margin: 0px auto 0px auto;
  height:300px;
  padding-top: 100px;
}
.skill-row-2{
  width:50%;
  margin: 0px auto 0px auto;
  height:300px;
  padding-top: 100px;
}
.skill-row-3{
  width:50%;
  margin: 100px auto 0px auto;
  padding-top: 50px;
  height:200px;
}
.about{
  width:30%;
  margin: 20px auto 50px auto;
}
.developer{
  position:relative;
  right: 30%;
}
.idea{
  height:100px;
  position:relative;
  right:330px;
  top:350px;
}
.development{
  position:relative;
  left:150px;
  bottom:210px;
  width:60%;
  margin: 20px auto 0px auto;
  text-align: left;
}
.engineer{
  height:270px;
  position: relative;
  left:33%;
  bottom:100px;
}
.skill-2{
  position:relative;
  right:110px;
  bottom:300px;
  width:60%;
  margin: 20px auto 50px auto;
  text-align: left;
}

.robot{
  height:80px;
  position: relative;
  left:15%;
  bottom:250px;
}
.skill-3{
  position:relative;
  left:150px;
  bottom:430px;
  width:60%;
  margin: 20px auto 50px auto;
  text-align: left;
}

.designer{
  height:270px;
  position:relative;
  right: 28%;
  bottom:200px;
}
.model{
  height:60px;
  position: relative;
  left:0%;
  bottom:380px;

}
.contact-me{
  margin-top:10px;
  margin-bottom: 10px;

}
.connect{
  margin:50px auto 50px auto
}
.btn{
  margin:50px auto 50px auto
}
.my-button {
  background-color: #57B0DD; /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color */
  padding: 16px 32px; /* Set the padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove text underline */
  display: inline-block; /* Set display to inline-block */
  font-size: 18px; /* Set font size */
  font-weight: bold; /* Set font weight to bold */
  letter-spacing: 1px; /* Add letter spacing */
  text-transform: uppercase; /* Change text to uppercase */
  border-radius: 50px; /* Round the edges */
  box-shadow: 0px 5px 0px #3FA1D2; /* Add shadow */
  transition: all 0.3s ease-in-out; /* Add animation */
  cursor: pointer; /* Change cursor on hover */
  margin:100px auto 100px auto;
}

.my-button:hover {
  transform: translateY(-5px); /* Add hover animation */
  box-shadow: 0px 9px 0px #3FA1D2; /* Change shadow on hover */
}
.footer-link{
  margin-right: 30px;
}
hr{
  border-style: none;
  width: 5%;
  border-top: 8px dotted grey;
  margin-bottom: 0px;
}
.skills{
  padding-top: 0px;
  margin-top: 0px;
}
